# api
flask==1.0.2

# Schema validation 
marshmallow==2.17.0

# local regression_model package
# update with your local path
-e "/home/aniruddhamandal/Documents/Machine Learning/turotial_deployment/regression_model"